body{
    background-size:cover;
}
.heading{
    margin:0;
    width:100%;
    padding-top:20px;
    font-size:30px;
    box-shadow:5px 5px grey;
}
#note{
    font-size:20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
}
#songname{
    font-size:20px;
}
canvas{
    border:5px solid white;
    border-radius:20px;
}